.spacer-20 {
    margin-top: 20px;
}

.red-color{
    color: red;
}

.profile-pic {
    width:430px; /* you can use % */
    height: auto;    
}

.buttonload {
    /*background-color: #4CAF50;  /*Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
  }

article a {
    color: #212529;
}
article a:hover {
    color: #007bff;
    text-decoration: none;
}
.nav-social-icons a {
    color: #212529;    
}
.nav-social-icons a:hover {
    color: rgba(0,0,0,.7);
}

.radio label{
    width: 100%;
}