{% extends 'deadahead_app/base.html' %}
{% block title %}A/B Testing{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% load bootstrap4 %}
{% block content %}
<div class="mkt-s1">
    <div class="mkt-s1-body container ">
        <div class="jumbotron row">
            <div class="col">
                <h1 class="display-4">A/B Testing Tool</h1>
                <p class="lead">A simple tool to do basic EDA and calculate several p-values on two datasets.</p>
                <p class="lead">Just paste numeric data into the fields and hit "Go".</p>
                <hr class="my-4">
                <p>This tool does:</p>
                <p>
                    <ul>
                        <li>Plot a combined boxpot and swarmplot of the provided data.</li>
                        <li>Plot nicely comparable histograms.</li>
                        <li>Calculate summary statistics.</li>
                        <li>Run a bootstrap hypothesis test with the specified number of permutations
                            (as in <a
                                href="https://faculty.psy.ohio-state.edu/myung/personal/course/826/bootstrap_hypo.pdf"
                                target="_blank">this document</a>).</li>
                        <li>Run a t-test using <a
                                href="https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html"
                                target="_blank">scipy.stats.ttest_ind</a>.</li>
                        <li>Run a 1-sample t-test using <a
                            href="https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.ttest_1samp.html"
                            target="_blank">scipy.stats.ttest_1samp</a>.  Calculated by subtracting the two datasets and assuming a null-hypo of 0.</li>                        
                        <li>Calculate minimum sample size as described <a
                                href="https://www.invespcro.com/blog/calculating-sample-size-for-an-ab-test/"
                                target="_blank">in here</a>.</li>
                    </ul>
                </p>

            </div>
            <div class="col">
                <form action="/abtesting/calc_stats/" method="post" id="post-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="button" class="btn btn-outline-dark" onclick="calc_stats()"
                        id="abtSubmitButton">Go</button>
                    <button type="button" class="btn btn-outline-dark" style="display: none;" id="abtLoadingButton"><i
                            class="fa fa-spinner fa-spin"></i></button>
                    {% endbuttons %}
                    <div id="results"></div> <!-- errors go here -->
                    <small id="scrollNudge" style="display: none;">Done! Scroll down to see the results.</small>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-4" id="boxplotPlaceholder">
            </div>
            <div class="col-8" id="histplotPlaceholder">
            </div>
        </div>
        <div class="row">
            <div class="col-6" id="statsPlaceholder">
            </div>
            <div class="col-6" id="pPlaceholder">
            </div>
        </div>

    </div>
</div>
{% endblock content %}