{% extends 'deadahead_app/base.html' %}
{% block title %}A/B Testing{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}  

    {# Hero Section #}
    <div class="mkt-s1">
        <div class="mkt-s1-body container ">
            <div class="row">
                <h1 class="col">A/B Testing</h1>
            </div>
            <div class="row">
                <div class="col">
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Calculate">
                    </form>
                </div>
            </div>
        </div>
    </div>  



{% endblock content %}