{% extends 'deadahead_app/base.html' %}
{% block title %}A/B Testing{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% load bootstrap4 %}
{% block content %}  
    <div class="mkt-s1">
        <div class="mkt-s1-body container ">
            <div class="row">
                <h1 class="col">A/B Testing</h1>
            </div>

            <div class="row">
                <div class="col-6">
                    <form action="/create_post/" method="post" id="post-form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="button" class="btn btn-success" onclick="calc_stats()">Calculate Summary</button>
                        {% endbuttons %}
                        <div id="results"></div> <!-- errors go here -->
                    </form>
                </div>
                <div class="col-6" id="statsPlaceholder">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                </div>
            </div>
        </div>
    </div>  
{% endblock content %}