
{% extends 'deadahead_app/base.html' %}
{% block title %}Me{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% load static %}
{% block content %}  
    {# Main Section #}
<div class="container">
    <div class="jumbotron row">
        <div class="col-sm-6 text-center">   
            <img src="{% static "img/pic_toni_schmidt_circle.png" %}" alt="Hi, I'm Toni" class="img-fluid"> 
        </div>
        <div class="col-sm-6">
            <h1 class="display-4">Drop me a note</h1>
            <p class="lead">E-Mail: <a href="mailto:toni@tonischmidt.me" target="#">toni@tonischmidt.me</a></p>
            <p class="lead">Linkedin: <a href="https://www.linkedin.com/in/tonischmidt/" target="#">https://www.linkedin.com/in/tonischmidt/</a></p>
            <p class="lead">Xing: <a href="https://www.xing.com/profile/Toni_Schmidt8" target="#">https://www.xing.com/profile/Toni_Schmidt8</a></p>
        </div>  
    </div>
</div>
{% endblock content %}         
