{% extends 'deadahead_app/base.html' %}
{% block title %}Me{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% load static %}
{% block content %}
{# Main Section #}
<div class="container">
    <div class="jumbotron row">
        <div class="col-sm-6 text-center">
            <img src="{% static 'img/pic_toni_schmidt_circle.png' %}" alt="Hi, I'm Toni" class="img-fluid">
        </div>
        <div class="col-sm-6">
            <h1 class="display-4">Hi, I'm <b>Toni Schmidt</b></h1>
            <p class="lead">I'm a product manager with a rich technical background. I currently work for <a
                    href="https://trip.com/" target="#">Trip.com</a>, where I help grow and optimize our flight ticket
                booking product.</p>
            <p class="lead">I've got 10+ years professional experience in product management, team leadership and
                software engineering roles. I've built up strong industry knowledge in online travel and the automotive
                retail/after-sales sectors. </p>
            <p class="lead">I'm based in Shanghai, China.</p>
            <hr class="my-4">
            <p>Apart from being my personal website, this site is a collection of tools I find helpful for everyday data
                analysis and content that helps me fulfill my product management role.</p>
            <hr class="my-4">
            <div class="row nav-social-icons">
                <div class="col">
                    <a href="https://www.linkedin.com/in/tonischmidt/" target="_blank"><i
                            class="fab fa-linkedin fa-2x mr-3"></i></a>

                    <a href="https://github.com/f4tca7" target="_blank"><i class="fab fa-github fa-2x mr-3"></i></a>

                    <a href="https://www.instagram.com/tonismdt/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>

                </div>
            </div>
            <div class="row nav-social-icons">
                <div class="col">toni@tonischmidt.me
                    <a href="#" target="" class="enable-copy" 
                    data-toggle="tooltip" 
                    title="Copy to clipboard"
                    data-clipboard-text="toni@tonischmidt.me">
                    <i class="far fa-clipboard"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col">
            <h4 class="">What I Do</h4>
            <p>As a product manager I help bring concepts into reality, from their inception to delivery.
                I use my knowledge of the market, the product and the competition to define and prioritize backlog
                items, so the right product is delivered at the right time.
                By analyzing key metrics, like user tracking- and customer feedback data, I take data-centric decisions.
                By running experiments I make sure that business goals are met while providing the best possible user
                experience.</p>
        </div>
        <div class="col">
            <h4 class="">How I Work</h4>
            <p>Having coded for much of my life, abstracting complex problems into smaller parts comes natural to me.
                That allows me to take a business requirement and dissect it into its components, so that UX/UI,
                Development and Testing teams have all the info they need for execution.
                At the same time, I use my solid background in Human-Computer Interaction to think in a user-centered
                way, balancing business requirements against user needs. </p>
        </div>
        <div class="col">
            <h4 class="">Why I Do It</h4>
            <p>My goal is bringing uncompromisingly delightful experiences to my users.
                I want to go to sleep at night knowing that I've taken no shortcuts in delivering the best possible
                product.
                I want to build products that I can recommend to family and friends with a perfect conscience, because
                I'm convinced it's the best result achievable.
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-1"></div>
        <h4 class="col-sm-10">Timeline</h4>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1984</th>
                        <td>Born in Munich.</td>
                    </tr>
                    <tr>
                        <th scope="row">1986</th>
                        <td>Forbidden to play in the sandbox because of fallout from Chernobyl. Thanks parents for not
                            letting me get radiated.</td>
                    </tr>
                    <tr>
                        <th scope="row">1990</th>
                        <td>Moved to <a href="https://en.wikipedia.org/wiki/%C3%9Cberlingen" target="_blank">Überlingen</a>
                            at beautiful Lake Constance.</td>
                    </tr>
                    <tr>
                        <th scope="row">1995</th>
                        <td>Started to be interested in computers. Completed <a
                                href="https://en.wikipedia.org/wiki/Space_Quest_6" target="_blank">Space Quest</a> on the
                            family's x486.</td>
                    </tr>
                    <tr>
                        <th scope="row">1997</th>
                        <td>Started a computer repair business. Still got a dust phobia from that time.</td>
                    </tr>
                    <tr>
                        <th scope="row">1999</th>
                        <td>Started coding Visual C++ for Microsft Foundation Classes (which are somehow still
                            maintained) projects in 
                            <a href="https://www.softsyst.com" target="_blank">my father's company</a>.</td>
                    </tr>
                    <tr>
                        <th scope="row">2003</th>
                        <td>Graduated school, yay.</td>
                    </tr>
                    <tr>
                        <th scope="row">2003</th>
                        <td>Served my 9 month in the army. Not so yay. But at least they sponsored a commercial driving
                            license.</td>
                    </tr>
                    <tr>
                        <th scope="row">2004</th>
                        <td>Started studying Information Engineering at <a
                                href="https://en.wikipedia.org/wiki/University_of_Konstanz" target="_blank">Uni Konstanz</a>.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2006</th>
                        <td>Developed a short-lived fascination for computer graphics.</td>
                    </tr>
                    <tr>
                        <th scope="row">2007</th>
                        <td>Developed a longer-lived fascination for Human-Computer Interaction.</td>
                    </tr>
                    <tr>
                        <th scope="row">2008</th>
                        <td>Fun times developing computer vision software for optical multi-touch tabletops.</td>
                    </tr>
                    <tr>
                        <th scope="row">2009</th>
                        <td>Finished my Bachelors about <a
                                href="http://kops.ub.uni-konstanz.de/handle/urn:nbn:de:bsz:352-opus-72395"
                                target="_blank">interaction concepts for multi-touch user interfaces</a>.</td>
                    </tr>
                    <tr>
                        <th scope="row">2011</th>
                        <td>Started an ASP.NET MVC/C# webdev gig at <a href="http://textking.com/"
                                target="_blank">Textking</a>. Built up a whole translation managment platform from the
                            ground. Great times.</td>
                    </tr>
                    <tr>
                        <th scope="row">2011</th>
                        <td>Crossed the atlantic ocean on a sailboat. Just awesome. Then tried surfing in Los Angeles
                            where the ocean had nothing better to do than break my collarbone. Still managed to have a
                            good time in Vegas afterwards, though.</td>
                    </tr>
                    <tr>
                        <th scope="row">2011</th>
                        <td>Moved to Berlin.</td>
                    </tr>
                    <tr>
                        <th scope="row">2013</th>
                        <td>Moved to Munich and switched to <a href="https://incadea.com/" target="_blank">incadea</a>. Now
                            developing for an Dynamics Nav ERP. There's nothing better than debugging in C/SIDE.</td>
                    </tr>
                    <tr>
                        <th scope="row">2014</th>
                        <td>Sat next to my then-to-be wife on a plane home from Shanghai. Exchanged numbers. Things
                            turned out fine.</td>
                    </tr>
                    <tr>
                        <th scope="row">2014</th>
                        <td>Moved to Shanghai. Now doing more and more architectural work for WCF/C# services.</td>
                    </tr>
                    <tr>
                        <th scope="row">2015</th>
                        <td>Switched to <a href="https://www.mcon-group.com/" target="_blank">CRM Factory/MCON Group</a>.
                            Leading a team of Frontend developers now. Great memories working together with amazing colleagues and friends, 
                            like <a href="https://miguelrincon.github.io/" target="blank">Front-End Wiz and Architect Miguel</a>, 
                            and <a href="http://garethkennedy.net/" target="blank">TED-talking Astrophysicist turned genius Data Scientist Gareth</a>.
                            Got nightmares about iOS certificates that expire in the middle of the night, though. </td>
                    </tr>
                    <tr>
                        <th scope="row">2017</th>
                        <td>Started taking it serious with the chinese lessons at <a href="http://en.sjtu.edu.cn/"
                                target="#">Shanghai Jiao Tong Uni</a>. 你好。Passed my <a
                                href="https://en.wikipedia.org/wiki/Hanyu_Shuiping_Kaoshi" target="_blank">HSK5</a>.</td>
                    </tr>
                    <tr>
                        <th scope="row">2018</th>
                        <td>Started at Ctrip, working on <a href="https://trip.com/" target="_blank">Trip.com</a>. Now a
                            product manager for a site handling bazillions of flight ticket bookings per day.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-1"></div>
        <h4 class="col-sm-10">You've made it this far ...</h4>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">  
                <div class="col">        
                    <p><b>You've earned learning a bit more about me. Here some things I enjoy doing for leisure.</b></p>
                    <ul>
                        <li>I've built <a href="http://www.saithong-bungalow.com" target="_blank">saithong-bungalow.com</a> and did the photography for the site. 
                            It's a place so wonderful it should be kept secret, so don't tell anyone about it.</li>
                        <li>I'm making $$$ (ok, maybe just $) <a href="https://www.shutterstock.com/g/Toni+Schmidt" target="_blank">selling photos on Shutterstock</a> et al.</li>
                        <li>I'm learning about <a href="https://www.coursera.org/account/accomplishments/certificate/YXKALWPP44UX" target="_blank">Machine Learning</a> 
                            and <a href="https://www.datacamp.com/statement-of-accomplishment/track/ed177de2134a12c97ca9722b9c49c298b80ece82" target="_blank">Data Science</a>.</li>
                        <li>I enjoy going sailing with friends. Here's a <a href="{% static 'img/sailing_toni_1.jpg' %}" target="_blank">nautical photo of me</a>. 
                            In 2011 I've <a href="https://www.facebook.com/transocean2011/" target="_blank">crossed the atlantic</a> (barefoot-route, though).</li>                        
                    </ul>
                </div>  
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
{% endblock content %}
{% block footer_javascript_page %}
    <script>
        function copyToClipboard(text, el) {
            var elOriginalText = el.attr('data-original-title');
            var msg = 'Copied!';
            el.attr('data-original-title', msg).tooltip('show');
            el.attr('data-original-title', elOriginalText);
        }
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        new ClipboardJS('.enable-copy');
        $('.enable-copy').click(function() {
            var text = $(this).attr('data-clipboard-text');
            var el = $(this);
            copyToClipboard(text, el);
        });
    </script>
{% endblock footer_javascript_page %}