
{% extends 'deadahead_app/base.html' %}
{% block title %}Home{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% load static %}
{% block content %}  
    {# Main Section #}
    <div class="container">
        <div class="jumbotron row">
            <div class="col-6">
                <h1 class="display-4">Hi, I'm <b>Toni Schmidt</b></h1>
                <p class="lead">I'm a product manager with a rich technical background. Currently I work for Trip.com, where I help grow and optimize our flight ticket booking product.</p>
                <hr class="my-4">
                <p>This site is a collection of tools I find helpful for everyday data analysis and content that helps me fulfill my product management role.</p>
            </div>
            <div class="col-6">   
                <img src="{% static "img/pic_toni_schmidt.jpg" %}" alt="Hi, I'm Toni" class="img-fluid"> 
            </div>
        </div>
    </div>
{% endblock content %}