{% extends 'deadahead_app/base.html' %}
{% block title %}Word2Vec Tool{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}
{% load bootstrap4 %}
{% block content %}
<div class="mkt-s1">
    <div class="mkt-s1-body container ">
        <div class="jumbotron row">
            <div class="col">
                <h1 class="display-4">Word2Vec Exploration Tool</h1>
                <p class="lead">A simple tool to query vectorized text corpora</p>
                <p class="lead">For the two terms entered, calculate <b>distance</b>, <b>similarity</b> and <b>top 30 most similar tokens</b>.</p>
                <hr class="my-4">
                <p>This tool does:</p>
                <p>
                    <ul>
                        <li>Compute the <b>distance</b> between two tokens.</li>
                        <li>Compute the <b>similarity</b> of two tokens.</li>
                        <li>Fetch the <b>top 30 most similar</b> tokens.</li>
                        <li>Queries are performed using <a
                                href="https://github.com/plasticityai/magnitude"
                                target="_blank">pymagnitude</a></li>
                    </ul>
                </p>
                <hr class="my-4">
                <p>Select from those corpora:</p>
                <p>
                    <ul>
                        <li>Common Crawl, 600B tokens (for details check <a
                                href="https://fasttext.cc/docs/en/english-vectors.html"
                                target="_blank">fasttext</a>).</li>
                        <li>English Wikipedia 2017, 16B tokens (for details check <a
                                href="https://fasttext.cc/docs/en/english-vectors.html"
                                target="_blank">fasttext</a>). </li>
                        <li>Google News, 100B tokens  (for details check <a
                                href="https://code.google.com/archive/p/word2vec/"
                                target="_blank">Google word2vec</a>).</li>
                        <li>New York Times Article Snippets 2000 - 2019, 79M tokens (extracted myself, trained with <a
                            href="https://radimrehurek.com/gensim/"
                            target="_blank">gensim</a>).</li>
                    </ul>
                </p>
            </div>
            <div class="col">
                <form action="/word2vec/calc_vec/" method="post" id="post-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="button" class="btn btn-outline-dark" onclick="calc_word2vec()"
                        id="w2vSubmitButton">Go</button>
                    <button type="button" class="btn btn-outline-dark" style="display: none;" id="w2vLoadingButton"><i
                            class="fa fa-spinner fa-spin"></i></button>
                    {% endbuttons %}
                    <div id="results"></div> <!-- errors go here -->
                    <small id="scrollNudge" style="display: none;">Done! Scroll down to see the results.</small>
                </form>
            </div>
        </div>


        <div class="row">
            <div class="col-4" id="compPlaceholder">
            </div>
            <div class="col-4" id="nMostSimPlaceholder1">
            </div>
            <div class="col-4" id="nMostSimPlaceholder2">
            </div>            
        </div>

    </div>
</div>
{% endblock content %}